.sideBar {
    width: 300px;
    height: 100vh;
    background-color: rgb(131, 131, 131);
    position: fixed;
    transition: left 0.3s;
    z-index: 2;
}

.sideBarTitle {
    color: white;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.option {
    height: 50px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.option:nth-of-type(1) {
    border-top: 1px solid white;
}

.option:hover {
    background-color: rgb(107, 107, 107);
}

.optionDesc {
    color: white;
    text-align: center;
}

.sideBarButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-box-shadow: 5px 1px 47px -17px #000000; 
    box-shadow: 5px 1px 47px -17px #000000;
    background-color: #00aeff;
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}